{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <nav class="navBar">
    <a class='link' href="/login">Se connecter</a>
    <a class='link' href="">Créer un compte</a>
    </nav>
    <img class="cashiswineImgHome" src="/assets/images/logocash.png" alt="logo" />
  </div>

{% endblock %}