{% extends 'layout.html.twig' %}

{% block content %}
<div class="search-box">
    <input type="search" class="search-box-input" placeholder="Rechercher votre bouteille" />
    <button type="button" className="search-box-btn">
      <i class="search-box-icon material-icons">➤</i>
    </button>
  </div>
{% endblock %}